.noprint{display:none}
body{text-align:center}
body,tr,td,hr{padding:0;margin:0;}
hr{width:21cm}
table{width:90mm;height:80mm;float:left;margin:5mm;padding:0}
td{border-bottom:.5mm solid black;border-right:.5mm solid black}