.noprint {
	display: none;
}
/* General */
body {
	padding:0;
	margin:0;
	font-family: verdana;
	background-color: #ffb06b;
	color:#444;
	white-space:nowrap;
}

/* Players draw */
#draw hr {
	border: none;
	border-top: 1px solid black;
	margin-top: 15px;
	margin-bottom: 15px;
}
#draw div.player {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	width: 450px;
	height: 210px;
	margin-left: 20%;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid black;
}
#draw div.player p {
	width: 410px;
	margin-left: 20px;
	margin-bottom: 6px;
	margin-top: 6px;
}
#draw div.player p.team {
	font-size: 10px;
	font-style: italic;
}
#draw div.player table {
	margin-left: 20px;
	font-size: 10px;
	border-collapse: collapse;
	border: 2px solid black;
	width: 410px;
	height: 65%;
	margin-top: 10px;
	margin-bottom: 15px;
}
#draw div.player table td {
	border: 1px solid black;
}
#draw div.player table thead {
	background-color: #BCBCBC;
	color: black;
	font-weight: bold;
}
#draw div.player p table tbody td.invisible {
	border: 2px solid white;
}