body{font-size:small}
.noprint{display:none}
* {
	color:black;
	margin:0;
	padding:0;
	text-align:center;
}
table{width:100%}
table table {margin:0 10px 10px 0;width:95%}
table table td,table table th{padding:0 5px}
.matoso-page-break {page-break-before:always}
small{white-space:nowrap;}