/* General */
* {
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	background-repeat: no-repeat;
}
body {
	font-size : 12px;
	background-color: #EFEFEF;
}
input {
	border: 1px solid #4B72BE; /* blue */
}
a {
	color: #4B72BE; /* blue */
	text-decoration: none;
}
h2 {
	color : #C40016; /* red dragon */
	margin-left: 20px;
}
table {
	margin-top : 20px;
	border : 1px solid black;
	color : black;
	border-collapse: collapse;
}
thead {
	font-weight : bold;
	color : #4B72BE; /* blue */
}
td {
	padding : 5px;
	margin : 0;
	border: 1px solid black;
}
img {
	border: none;	
}

#head, #footer {
	background-color: #F8F1C5;
	color : #098853; /* green dragon */
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;	
}
#head {
	margin-bottom: 30px;
	border-bottom: 1px solid black;
}
#footer {
	position: absolute;
	bottom: 0;
	font-weight: bold;
	background-color: #EFEFEF;
}
#emalogo {
	display: block;
	float: right;	
	width: 100px;
	height: 100px;
}
div.label {
	width:200px;
	float:left;
}
div.field{clear:both;}

.color0 {background-color: #F7FFEF;}
.color1 {background-color: #FFEFF0;}

/* special displaytag */
tr.even {
	background-color: #FFEFF0; /* pink */
} 
tr.odd {
	background-color: #F7FFEF; /* light green */
} 
th.sorted a {
	color: #C40016; /* red dragon */
} 
th.sorted a, th.sortable a {
	background-position:right center; 
	display:block; 
	width:100%;
}
th.sortable a {
	background-image:url(../img/arrow_off.png);
}
th.order1 a {
	background-image:url(../img/arrow_down.png);
}
th.order2 a {
	background-image:url(../img/arrow_up.png);
}
div.exportlinks {
	background-color:#EEEEEE;
	border:1px dotted #999999;
	margin:2px 0 10px;
	padding:2px 4px;
	width:79%;
}
div.exportlinks a {
	text-decoration: none;
}
span.export {
	cursor:pointer;
	display:inline-block;
	padding:0 4px 1px 20px;
}
span.export {
	padding:0 4px 1px 20px; 
	color : #098853; /* green dragon */
}
span.csv {
	background-image:url(../img/ico_file_csv.png);
	}
span.excel {
	background-image:url(../img/ico_file_excel.png);
}
span.xml {
	background-image:url(../img/ico_file_xml.png);
}
span.pdf {
	background-image:url(../img/ico_file_pdf.png);
}

.matosoMesgs {
	border: 1px solid black;
	width: 600px;
	background-color: white;
	padding: 10px;
	font-weight: bold;
}

.matosoMesgs .s0 {
	margin-left: 25px;
	list-style-image: url(../img/info.png);
	color: green;
}
.matosoMesgs .s1 {
	margin-left: 25px;
	list-style-image: url(../img/warning.png);
	color: #FFA800; /* dark yellow */
}
.matosoMesgs .s2 {
	margin-left: 25px;
	list-style-image: url(../img/error.png);
	color: red;
}

/* List tournament page */
#listTournament {
	padding: 20px;
}
#listTournament form {
	width: 450px;
	border: 1px solid black; 
	padding: 10px;
	margin-bottom: 20px;
}
#listTournament form input {
	margin-bottom: 5px;
}

/* Import players */
#import {padding-left: 20px;}
#import form {margin-top: 20px; margin-bottom: 20px;}
#import form label.label {float: left; text-align: left; width: 150px;}
#import form #choice {float: left;}
#import form hr {visibility: hidden; clear: both; margin-bottom: 20px;}


/* Add, edit players */
#add, #edit {padding-left: 20px;}
#add form, #edit form {margin-top: 20px; margin-bottom: 20px;}

/*Load tournament page */
#loadTournament {
	padding-left: 20px; 
}
#loadTournament ul {
	list-style : none;
	margin-top: 40px;
}
#loadTournament li {
	padding : 0 5px 0 5px;
	font-weight: bold;
}
#loadTournament ul ul {
	margin-top: 5px;
}
#loadTournament ul ul ul {
	margin-top: 10px;
	margin-bottom: 20px;
}
#loadTournament li li {
	background-color : #F7FFEF;
	border: 1px solid black;
	margin-bottom: 20px;	
}
#loadTournament li li li {
	background-color : #FFEFF0;
	border: none;
	margin-bottom: 0px;	
}
#loadTournament li.round {
	float:left;
	margin-left : 5px;
}
#loadTournament img.resultPresent {
	width: 20px;
	height: 20px;
}
	
/* Edit table page */
#editTable {padding-left: 20px;}
#editTable table * {
	text-align:center;
	border:none;
}
#editTable table input, #editTable td {
	text-align:center;
	border-width:1px;
	border-style:solid;
}
#editTable table input {width:40px}
#editTable #tableInfos {margin-top: 10px; width: 150px; border: 1px solid black; padding: 5px; margin-bottom: 20px;}
#editTable ul.information {font-weight:normal;font-size:smaller;padding:0;margin:0;list-style:none}
#editTable .color2 {background-color: #F7FFEF}
#editTable .color3 {background-color: #FFEFF0}
#editTable table tr#penalty {background-color: #C40016;}
#editTable .columnGameNumber {width:10px}
#editTable .columnHandValue {width:10px}
#editTable .columnPlayer {width:150px}

/* Ranking */
#ranking {padding-left: 20px;}
#ranking h3 {margin-top: 20px; margin-bottom: 10px;}
#ranking table th {width: 120px;}
#ranking table th.name {width: 150px}
#ranking table th.position {width: 80px;}
#ranking table th.edit {width: 50px;}
#ranking table td {padding-left: 10px; padding-right: 10px}
#ranking p.info {font-style: italic; margin-bottom: 10px;}
#ranking form#redefineNbElementsByPage {margin-bottom: 10px;}
#ranking .editUser {width: 15px; height: 15px;}

/* Players draw */
#draw hr {
	clear: both;
	visibility: hidden;
}
#draw .noprint .left {
	padding-left: 20px;
}
#draw hr.print {
	display: none;
}
#draw div.player {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	width: 300px;
	float: left;
	margin-left: 25px;
	margin-bottom: 30px;
	border: 1px solid black;
}
#draw div.player p {
	border: 1px solid black;
	width: 260px;
	margin-left: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
}
#draw div.player table {
	margin-left: 20px;
	font-size: 10px;
	border-collapse: collapse;
	border: 2px solid black;
	width: 260px;
	margin-top: 10px;
	margin-bottom: 15px;
}
#draw div.player table td {
	border: 1px solid black;
}
#draw div.player table thead {
	background-color: #BCBCBC;
	color: black;
	font-weight: bold;
}
#draw div.player p table tbody td.invisible {
	border: 2px solid white;
}

#dynamicRanking {
	width:90%;
	padding:5px;
}
#bodyDynamicRanking {
	padding:20px;
}