*{white-space:nowrap;}
body{font-size:small;}
h1,h2,h3,h4,h5,h6{margin:0;padding:5px;display:inline;font-family:cursive;}
a {text-decoration:none}
a:HOVER {text-decoration:underline;}
h1 a:HOVER{border-bottom:2px ridge white;text-decoration:none}
th,td {padding:5px}

input.ui-button,
.ui-button-text-only .ui-button-text{padding:5px;}

ul{padding:0 0 0 5px;list-style-type:none;margin:0}
li{padding:0 0 0 10px}

.matoso-button{width:90%;text-align:left}

.matoso-menu {float:left;width:200px;text-transform:capitalize;margin-right:20px}
.matoso-menu .ui-accordion-content {padding:0}
.matoso-menu .matoso-button {float:left;clear:left;margin-left:10px}

.matoso-content{float:left;width:75%}

.matoso-round div{float:left;padding:10px;margin:10px}

.matoso-message {padding:5px;margin:10px 0 10px 0}
.matoso-message span {float:left;margin-right:10px;}

.matoso-display {text-align:center}
.matoso-display table {width:800px;margin:auto}
.matoso-display .matoso-round {margin:auto;text-align:left;width:800px;}

/**************************** Games */
.table{font-weight:bold}
.filledWithGames .table {background:url("/matoso/img/star_gold.png") no-repeat top right;padding-right:20px}
.filledWithTotal .table {font-weight:bolder;font-variant:small-caps;padding-right:20px}

.nowrap{white-space:nowrap;}

/*************************** Header */
#head {
	border-bottom:2px ridge #444;
	margin-bottom:20px;
	padding:10px;
}
#head form {display:inline;}
#powered {position:absolute;top:20px;right:20px}

.visualCheck * {font-size:xx-small;width:1%}