<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
        <property name="connection.url">jdbc:derby:${MATOSO_HOME}/MATOSO_DB</property>
        
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.DerbyDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>

		<!-- Generate stats to stdout -->
        <property name="generate_statistics">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <!-- validate, update, create, create-drop -->
        <property name="hbm2ddl.auto">validate</property>
        
		<!-- C3P0 connection pool -->
		<property name="connection.pool_size">5</property>
		<property name="hibernate.c3p0.acquireIncrement">1</property>
		<property name="hibernate.c3p0.min_size">0</property>
		<property name="hibernate.c3p0.max_size">10</property>
		<property name="hibernate.c3p0.timeout">5</property> <!-- in seconds -->
		<property name="hibernate.c3p0.max_statement">0</property>
		<property name="hibernate.c3p0.idle_test_period">10</property>
        
        
		<!-- Mappings -->
		<mapping resource="org/mahjong/matoso/bean/Player.hbm.xml"/>
		<mapping resource="org/mahjong/matoso/bean/Tournament.hbm.xml"/>
		<mapping resource="org/mahjong/matoso/bean/Team.hbm.xml"/>
		<mapping resource="org/mahjong/matoso/bean/Round.hbm.xml"/>
		<mapping resource="org/mahjong/matoso/bean/Table.hbm.xml"/>
		<mapping resource="org/mahjong/matoso/bean/Game.hbm.xml"/>
		<mapping resource="org/mahjong/matoso/bean/GameResult.hbm.xml"/>
		<mapping resource="org/mahjong/matoso/bean/Penalty.hbm.xml"/>
						
    </session-factory>

</hibernate-configuration>
